<div class="contributor">
  <img class="contributor" src="<%= asset_path image %>" alt="<%= name %>">
  <div class="contrib-descriptor">
    <h5>
      <%= name %>
      <br/>
      <small>
        <%= title %>
      </small>
    </h5>
  </div>
</div>
