<div class="container container-fluid" id="about-page">
  <br />
  <h3>
    Introduction
  </h3>
  <div class="about-body">
    <p>
      Classics has a PR problem, and, to quote Jimmy Buffett, “it’s our own damn fault.” For decades, the tenure system has incentivized specialized research that widens the gap between the general public’s understanding of the Greek and Roman past and classical scholarship being done in universities.  When studying the languages, history, and culture of Greece and Rome used to be central to the national educational agenda, professional classicists could count on the public to learn the classical humanities via the public education system.  This is no longer the case, and as Greece and Rome recede from the national interest, it is up to Classics as a field to engage public interest in classical antiquity and explain why the study of ancient Greece and Rome remains important.
    </p>
    <p>
      As a step in that direction, the Paideia Institute is proud to announce the Online Public Classics Archive (OPCA), an aggregator of public discourse about Classics.  The OPCA is a free online resource which allows users to explore articles about Greece and Rome in non-academic publications.  Using the Archive’s search functionality, users can do full-text and keyword searches of its database of articles about Classics in the media. We hope that the OPCA will be a starting point for anyone interested in exploring how Greece and Rome are relevant today, as well as a tool that scholars can use to apply their scholarly expertise to public discourse about Classics. Ideally, it will also inspire those who chose to write about the ancient world do so in venues and in a style that is as widely accessible as possible.
    </p>
    <p>
      The OPCA, which at the time of writing includes over 500 articles, automatically scans the internet for articles about Classics and suggests them to the site’s editors.  However, the task of keeping the archive up to date and well curated is an ongoing challenge, and we need your help!  The easiest way to help is simply to submit to the Archive any interesting article you find about Classics.  To do this, either email the article’s link to <a href="mailto:opca@paideia-institute.org?subject=Link" target="_top">opca@paideia-institute.org</a>, or share the article with the <a href="https://www.facebook.com/PublicClassics/" target="_blank">OPCA's Facebook page</a>, or tweet it at us at <a href="https://twitter.com/PublicClassics" target="_blank">@PublicClassics</a>.  If you’d like to get more involved as a volunteer editor, please write to us at <a href="mailto:opca@paideia-institute.org?subject=Volunteer" target="_top">opca@paideia-institute.org</a>.  We need all the help we can get; there’s more Classics out there than people think!
    </p>
    <p>
      The OPCA was developed by two Paideia Institute alumnae, Kamille Delgardo, who developed the web application, and Amy Garland, who devised the editorial tagging system.  Many other members of the institute contributed to the herculean task of building and editing initial database.  Special thanks are due to two Legionnaires, Ariane Schwartz and Ben Harnett, who consulted on the project’s development.  We would also like to thank the Society for Classical Studies for co-sponsoring the project, and helping to promote it to the field.
    </p>
    <p>
      Advocating public engagement with the Classics raises several important questions.  One such question is the extent to which such engagement should be politicized.  On the one hand, as scholars such as Donna Zuckerberg and Curtis Dozier have pointed out, there are some pretty sick people out there who have connected the Classics in print to some pretty awful things.  This raises the question for those building a tool like the OPCA of whether to include such content.  On the one hand, one is hesitant to legitimize it. On the other hand, it seems important to raise awareness to such behavior.  The editors at the OPCA do include some articles that should rightly be characterized as “hate speech”.  We have partnered with <a href="http://pages.vassar.edu/pharos/" target="_blank">Pharos</a>, which studies hateful appropriations of Classics.  These articles can be easily collected under the Pharos tag, and more in depth scholarly analysis of them can be found on Pharos’s website.  These ideas are also being explored in the journal <a href="https://eidolon.pub/" target="_blank">Eidolon</a>.
    </p>
    <p>
      The Online Public Classics Archive collects articles from across the internet and from a variety of media sources.  The views expressed in these media are those of the authors and their publishers, and are not endorsed in any way by the Paideia Institute.  Furthermore, the Paideia Institute Institute disavows and condemns hateful language or attitudes directed at individuals or groups based upon their nationality, race, creed, or sexual orientation.
    </p>
  </div>
  <br />
  <div class="container container-fluid" id="methodology">
    <h3>
      Methodology
    </h3>
    <div class="about-body">
      <p>
        The Online Public Classics Archive collects articles from across the internet and from a variety of media sources.  The views expressed in these media are those of the authors and their publishers, and are not endorsed in any way by the Paideia Institute.  However, the Paideia Institute Institute strongly condemns hateful language or attitudes directed at individuals or groups based upon their nationality, race, gender, religion, or sexual orientation.  We welcome anyone with an interest in ancient Greece and Rome, and strive to create a learning environment in which individuals can pursue that interest without being demeaned or attacked for who they are.  As a result, articles which use the Classics to attack individuals or groups for their identity or beliefs are not included in the archive.
      </p>
    </div>
  </div>
  <br />
  <h3>
    Editorial Staff
  </h3>
  <ul class="brain-trust">
    <%= render 'blurb',
      name: "<a href='https://www.linkedin.com/in/amy-garland-4835b865o' target='_blank'>Amy Garland <i class='fa fa-linkedin' aria-hidden='true'></i></a>".html_safe,
      title: 'Editorial Staff',
      blurb_content: "Amy is a Program Manager for Paideia as well as a former Rome Fellow (2014-2015). She has an M.St. in Ancient Philosophy from the University of Oxford and an A.B. in Classics from Princeton University. She is an alumna of Paideia's very first program, Living Latin in Rome, 2011. She has taught as an assistant faculty member and also been Logistical Director for the Living Latin in Rome (High School) program. Based in the NYC office, she works on development, outreach, digital publications, and programs for Paideia.",
      image: 'amy.jpeg',
      icon: 'fa-linkedin'
    %>
    <%= render 'blurb',
      name: "<a href='https://www.linkedin.com/in/jason-pedicone-16aa8877/' target='_blank'>Jason Pedicone <i class='fa fa-linkedin' aria-hidden='true'></i></a>".html_safe,
      title: 'Project Manager',
      blurb_content: 'Jason Pedicone, the co-founder and President of the Paideia Institute, received his Ph.D. in Classics from Princeton University in 2013. Jason has taught courses in Latin, Greek, and the history of Classical Scholarship at the university level in the U.S. and Western Europe, and is an adjunct professor at Brooklyn College and Fordham University. Jason’s research and public speaking focus on public humanities and Latin and Greek pedagogy. Jason received a Fulbright Fellowship for research in Germany in 2004, and a Jacob Javits Fellowship in 2013 to support his graduate work.  In 2015, together with Paideia\'s co-founder, Eric Hewett, Jason was awarded the President’s Award by the Society for Classical Studies for outstanding achievements in promoting the study of Classics. He lives in Manhattan.',
      image: 'jason.jpg',
      icon: 'fa-linkedin'
    %>
    <%= render 'blurb',
      name: "<a href='https://www.linkedin.com/in/ariane-schwartz-151262b7' target='_blank'>Ariane Schwartz <i class='fa fa-linkedin' aria-hidden='true'></i></a>".html_safe,
      title: 'Editorial Staff',
      blurb_content: "Ariane Schwartz works for the management consulting firm McKinsey, where she is on the course operations team for McKinsey Academy. She taught for several years at Dartmouth, UCLA, and Harvard. She is also Assistant Editor for the I Tatti Renaissance Library. She has co-founded the Society for Early Modern Classical Reception (a Society for Classical Studies affiliate group) and has been involved in several digital humanities initiatives, including <a href='https://qcrit.org/home' target='_blank'>Quantitative Criticism Lab</a> and the OPCA.  She received her B.A. and M.A. in Classical Studies from the University of Pennsylvania and Ph.D. in Classical Philology from Harvard University.".html_safe,
      image: 'ariane.jpg',
      icon: 'fa-linkedin'
    %>
  </ul>
  <br />
  <h3>
    Website Development
  </h3>
  <ul class="brain-trust">
    <%= render 'blurb',
      name: "<a href='http://www.kamille.delgardo.co' target='_blank'>Kamille Delgardo <i class='fa fa-external-link' aria-hidden='true'></i></a>".html_safe,
      title: 'Lead Engineer',
      blurb_content: 'Kamille earned a BA in Classical Civilizations with a Latin emphasis from UC Berkeley in 2015. She is an alumna of The Paideia Institute\'s 2015 Living Latin in Rome program and has been pursuing web development full-time ever since. She is always looking for new opportunities to support the digital humanities.',
      image: 'kamille.jpg',
      icon: 'fa-external-link'
    %>
  </ul>
</div>
