<div class="container container-fluid" id="about-page">
  <br />
  <h4>
    Introduction
  </h4>
  <div class="about-body">
    <p>
      Classics has had a strong presence in the press. As Hardwick and Harrison (2013) remark, “Greek and Roman texts, material culture and ideas have always been widely and radically used and re-used by individuals and by societies, and in recent centuries this has gradually included more people who have not had a formal classical education of any kind.” More recently, popular culture and the media have engaged with antiquity for centuries (cf. Jenkins 2015), yet it is currently difficult to search for and document the places where that engagement takes place. One can Google  “Plato and Trump” or “Xenophon and leadership”, but the search results can often be too unwieldy and lacunose to be of much productive use.
    </p>
    <p>
      In order to document the great collective impact that our discipline has had and continues to have on public ways of thinking, we have created the Online Public Classics Archive, a public media Classics database that archives and organizes the public media engagement with antiquity on the Internet. This e-resource is linked to the way we search on the Internet. If someone wants to search for "Epictetus” in Google, one sees the Wikipedia entry and a few other philosophy e-resources on the first search page. If one filters search results through the “news” option, one sees some recent blog posts and articles.  But what if one wants to find out how many times reporters, columnists, bloggers, and other public writers have discussed Epictetus from 2007-2017? On a daily basis we see many of these articles circulating on social media but they often end up sitting alone and abandoned as bookmarks or downloaded PDFs only on our own computers.
    </p>
    <p>
      Our database succeeds in providing a space (that is searchable by keywords and tags and can be filtered by date) for both Classicists and the public to examine just how much of an impact the ancient world has had on contemporary thought. Though it is currently in the initial stages of development, it is already clear that a substantial body of public scholarship discussing antiquity has a robust and important presence in public discourse.
    </p>
  </div>
  <br />
  <h4>
    Methodology
  </h4>
  <div class="about-body">

  </div>
  <br />
  <h4>
    Editorial Staff
  </h4>
  <ul class="brain-trust">
    <%= render 'blurb',
      name: "<a href='https://www.linkedin.com/in/amy-garland-4835b865o' target='_blank'>Amy Garland</a>".html_safe,
      title: 'Editorial Staff',
      blurb_content: "Amy is a Program Manager for Paideia as well as a former Rome Fellow (2014-2015). She has an M.St. in Ancient Philosophy from the University of Oxford and an A.B. in Classics from Princeton University. She is an alumna of Paideia's very first program, Living Latin in Rome, 2011. She has taught as an assistant faculty member and also been Logistical Director for the Living Latin in Rome (High School) program. Based in the NYC office, she works on development, outreach, digital publications, and programs for Paideia.",
      image: 'amy.jpeg'
    %>
    <%= render 'blurb',
      name: "<a href='https://www.linkedin.com/in/jason-pedicone-16aa8877/' target='_blank'>Jason Pedicone</a>".html_safe,
      title: 'Project Manager',
      blurb_content: 'Jason Pedicone, the co-founder and President of the Paideia Institute, received his Ph.D. in Classics from Princeton University in 2013. Jason has taught courses in Latin, Greek, and the history of Classical Scholarship at the university level in the U.S. and Western Europe, and is an adjunct professor at Brooklyn College and Fordham University. Jason’s research and public speaking focus on public humanities and Latin and Greek pedagogy. Jason received a Fulbright Fellowship for research in Germany in 2004, and a Jacob Javits Fellowship in 2013 to support his graduate work.  In 2015, together with Paideia\'s co-founder, Eric Hewett, Jason was awarded the President’s Award by the Society for Classical Studies for outstanding achievements in promoting the study of Classics. He lives in Manhattan.',
      image: 'jason.jpg'
    %>
    <%= render 'blurb',
      name: "<a href='https://www.linkedin.com/in/ariane-schwartz-151262b7' target='_blank'>Ariane Schwartz</a>".html_safe,
      title: 'Editorial Staff',
      blurb_content: "Ariane Schwartz works for the management consulting firm McKinsey, where she is on the course operations team for McKinsey Academy. She taught for several years at Dartmouth, UCLA, and Harvard. She is also Assistant Editor for the I Tatti Renaissance Library. She has co-founded the Society for Early Modern Classical Reception (a Society for Classical Studies affiliate group) and has been involved in several digital humanities initiatives, including <a href='https://qcrit.org/home' target='_blank'>Quantitative Criticism Lab</a> and the OPCA.  She received her B.A. and M.A. in Classical Studies from the University of Pennsylvania and Ph.D. in Classical Philology from Harvard University.".html_safe,
      image: 'ariane.jpg'
    %>
  </ul>
  <br />
  <h4>
    Website Development
  </h4>
  <ul class="brain-trust">
    <%= render 'blurb',
      name: "<a href='http://www.kamille.delgardo.co' target='_blank'>Kamille Delgardo</a>".html_safe,
      title: 'Lead Engineer',
      blurb_content: 'Kamille earned a BA in Classical Civilizations with a Latin emphasis from UC Berkeley in 2015. She is an alumna of The Paideia Institute\'s 2015 Living Latin in Rome program and has been pursuing web development full-time ever since. She is always looking for new opportunities to support the digital humanities.',
      image: 'kamille.jpg'
    %>
  </ul>
</div>
