@import "colors";

.jumbotron {
  padding: 32px;
  background-color: white;
}

div.about-body {
  background-color: white;
  padding: 8px;
}

ul.brain-trust {
  list-style: none;
  padding: 0px;
  li {
    margin-bottom: 8px;
    padding: 8px;
    background-color: white;
    img {
      width: 100%;
      max-width: 300px;
    }
  }
}

div#about-page, div#methodology {
  h3 {
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  a {
    color: $paideia-dark-blue;
    i {
      color: white;
    }
    &:hover {
      i {
        color: $paideia-orange;
      }
      text-decoration: none;
      color: $paideia-orange;
    }
  }
}
