@import "colors";

.jumbotron {
  padding: 32px;
  background-color: white;
}

div.about-body {
  background-color: white;
  padding: 8px;
}

div.card-deck#editorial-staff {
  
}

img.card-img-top.staff {
  max-width: 200px;
}


// PAST CONTRIBUTORS-----------------------------------------------------------
#past-contributors {
  list-style: none;
  padding: 0px 18%;
  div.contributor {
    display: inline-block;
  }
}

img.contributor {
  max-width: 150px;
}

div#about-page, div#methodology {
  h3 {
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  a {
    color: $paideia-dark-blue;
    i {
      color: white;
    }
    &:hover {
      i {
        color: $paideia-orange;
      }
      text-decoration: none;
      color: $paideia-orange;
    }
  }
}

img.institution {
  height: 150px;
  display: block;
  margin: auto;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
