@import "colors";

.jumbotron {
  padding: 32px;
  background-color: white;
}

#editorial-staff, #website, #past-contributors, #about-body, #partner-institutions  {
  background-color: $paideia-card-grey;
  padding: 16px 8px;
  text-align: center;
  .card {
    background-color: $paideia-card-grey !important;
  }
}

#about-body, div.modal.fade.about {
  text-align: left;
  padding: 32px;
  a.stinkedin, i {
    color: $paideia-orange !important;
  }
  .modal-header {
    border-bottom: 0px !important;
  }
  .modal-content {
    border-radius: 0px !important;
  }
}

img.card-img-top.staff {
  max-width: 200px;
  border-radius: 50% !important;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// PAST CONTRIBUTORS-----------------------------------------------------------
img.contributor {
  max-width: 150px;
}

div#about-page, div#methodology {
  h3 {
    text-align: center;
  }
  p {
    font-size: 20px;
  }
  a {
    color: $paideia-dark-blue;
    i {
      color: white;
    }
    &:hover {
      i {
        color: $paideia-orange;
      }
      text-decoration: none;
      color: $paideia-orange;
    }
  }
}

img.institution {
  height: 150px;
  display: block;
  margin: auto;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
}
