/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui/core
 *= require jquery-ui/datepicker
 *= require select2
 *= require select2-bootstrap
 *= require dataTables/jquery.dataTables
 *= require daterangepicker-bs3
 *= require material_icons
 */

 /**
  * style input elements that have a required
  * attribute and a focus state
  */

@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'bootstrap';
@import 'card';
@import 'navbar';
@import 'navigation-panel';
@import 'about';
@import 'form';
@import 'layout';
@import 'search';

// @font-face {
//   font-family: 'Aileron';
//   src: font-url('Aileron/Aileron-Light.ttf') format('truetype');
//   font-weight: normal;
// }
//
// @font-face {
//   font-family: 'Aileron';
//   src: font-url('Aileron/Aileron-UltraLight.ttf') format('truetype');
//   font-weight: 100;
// }
//
// @font-face {
//   font-family: 'Aileron';
//   src: font-url('Aileron/Aileron-Thin.ttf') format('truetype');
//   font-weight: 200;
// }
//
//
// @font-face {
//   font-family: 'Aileron';
//   src: font-url('Aileron/Aileron-Regular.ttf') format('truetype');
//   font-weight: 400;
// }
//
// @font-face {
//   font-family: 'Aileron';
//   src: font-url('Aileron/Aileron-Bold.ttf') format('truetype');
//   font-weight: 600;
// }

body {
	font-family: 'Lato';
  font-weight: 500;
  background-color: white;
  margin-bottom: 30px;
}

td {
	background-color: rgba(255, 255, 255, 0.4);
}

input, button, select, optgroup, textarea {
	font-family: 'Lato';
}

.top-bar {
	margin-bottom: 0px;
	padding: 8px 8px 0px 8px;
  display: inline-block;
}

@include media-breakpoint-down(md) {
  .navbar-brand {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  #homeLink {
    display: none;
  }
  #hamburger {
    display: none;
  }
}

.orange {
  background-color: $paideia-blue;
  &:hover {
    background-color: $paideia-orange;
  }
}
