$paideia-blue: #69A0C3;
$paideia-orange: rgb(210,126,48);
$paideia-light-orange: #D78C47;
$paideia-light-blue: #a0c3d9;
$paideia-dark-blue: #407aa0;
$paideia-dark-grey: #3C4E62;
$paideia-light-grey: rgb(255,255,255);
$bootstrap-focus-blue: #407aa0;
$bootstrap-placeholder-grey: #636C72;
$background-grey: #E2E2E2;
$paideia-nav-grey: #D4D4D4;
$paideia-card-grey: #F7F7F7;
