$paideia-blue: #5297CB;
$paideia-orange: rgb(210,126,48);
$paideia-light-orange: #D78C47;
$paideia-light-blue: #E6F7FF;
$paideia-hover-nav-blue: rgb(0, 120, 160)
;
$paideia-dark-blue: #3070a0;
$paideia-dark-grey: #3C4E62;
$paideia-light-grey: rgb(255,255,255);
$bootstrap-focus-blue: #407aa0;
$bootstrap-placeholder-grey: #636C72;
$background-grey: #E2E2E2;
$paideia-nav-grey: #D4D4D4;
$paideia-card-grey: #F7F7F7;
