@import 'colors';

#development, #about, #manage, #sign_in, #sign_out {
  i {
    color: white;
  }
  &:hover i{
    color: $paideia-orange;
  }
}

#reset {
  position: absolute;
  right: 12px;
}

#advanced {
  position: absolute;
  right: 8px;
  top: 41px;
  font-size: 12px;
  color: $paideia-dark-blue;
  cursor: pointer;
}

.daterangepicker.dropdown-menu {
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
}

div.ranges {
  margin: 0px !important;
}

div.ranges > ul > li {
  font-size: 16px !important;
  color: black !important;
  padding: 6px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  background-color: white !important;
  border: 0px!important;
  &:hover {
    background-color: $paideia-blue !important;
    color: white !important;
    border: 0px!important;
  }
  &.active, &:active {
    background-color: $paideia-dark-blue !important;
    color: white !important;
    border: 0px !important;
  }
}

.ui-autocomplete {
  list-style: none;
  width: 70px;
  padding-left: 0px;
  border-top: 0px;
  max-height: 400px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

div.ui-menu-item-wrapper {
  padding: 6px;
  &:hover {
    color: white;
    background-color: $paideia-blue;
    border: 0px;
  }
}

nav.navbar {
  background-color: white;
  padding: 0px;
  min-height: 62px;
  -webkit-box-shadow: 0 8px 8px -8px $paideia-blue;
  -moz-box-shadow: 0 8px 8px -8px $paideia-blue;
  box-shadow: 0 8px 8px -8px $paideia-blue;
}

nav img {
  max-height: 52px;
}

a.nav-item, a.navbar-brand {
  padding: 4px 0px 4px 4px;
	font-size: 20px;
	color: $paideia-dark-blue
}

.select2-search__field {
  width: 100% !important;
}

span#select2-filterrific_with_tag-container {
  font-size: 16px;
  padding-top: 4px;
}
// remove box shadow
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
  box-shadow: none !important;
  border-color: $paideia-blue !important;
}

.select2-container--bootstrap .select2-selection {
  box-shadow: none !important;
}


// X remove tag color
.select2-selection__choice__remove {
  color: $paideia-dark-blue !important;
}

// highlighted tag color
.select2-container--bootstrap .select2-results__option--highlighted[aria-selected] {
  background-color: $paideia-blue !important;
}


.select2-default {
  color: $bootstrap-placeholder-grey !important;
}

// selected tags in box
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  color: white !important;
  background: $paideia-blue !important;
  border: 1px solid $paideia-blue !important;
  padding: 4px 8px !important;
  border-radius: 0.2rem !important;
  font-family: 'Aileron' !important;
  font-size: 1.25rem !important;
  line-height: 1.25 !important;
}

// select2 line height
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field, span.select2-selection.select2-selection--multiple, span.select2-selection.select2-selection--single {
  min-height: 48px !important;
}

.select2-selection.select2-selection--multiple {
  font-size: 1.25rem !important;
}

span.select2-selection__placeholder {
  color: $bootstrap-placeholder-grey !important;
  font-size: 1.25rem !important;
}

.navbar-toggler {
  margin-left: -4px;
}

.ui-widget {
  z-index: 9999 !important;
}

input.small-9.columns.hasDatepicker {
  float: left;
  width: 73%;
}

button.ui-datepicker-trigger, a.contains-fa {
	border: 1px solid $paideia-blue;
	background-color: $paideia-blue;
	background: $paideia-blue;
  color: white;
	float: right;
  padding: 9px 14px;
  cursor: default;
	&#reset:hover {
		cursor: pointer;
		border: 1px solid $paideia-dark-blue;
		background-color: $paideia-dark-blue;
		text-decoration: none;
	}
  &#reset:active {
		cursor: pointer;
		border: 1px solid $paideia-orange;
		background-color: $paideia-orange;
		text-decoration: none;
	}
}

span.filterrific_spinner img {
  max-height: 16px;
}

.ui-widget {
	font-family: 'Aileron' !important;
}

button[class^="ui-priority-"] {
  font-family: 'Aileron' !important;
}
