@import "colors";

#filterrific_with_query {
  position: absolute;
  width: 400px;
	border: none;
	border-bottom: 1.5px solid white;
  outline: none;
  border-bottom: 1.5px solid $paideia-orange;
  right: 12px;
}

#advancedModal {
  .modal-content {
    border-radius: 0px;
  }
  .modal-header {
    border-bottom: 2px solid $paideia-orange;
  }
}
