@import "colors";

#filterrific_with_query {
  position: absolute;
  width: 400px;
  left: calc(50% - 200px);
  &:focus {
    border-color: $paideia-orange;
  }
}

#advancedModal {
  .modal-content {
    border-radius: 0px;
  }
  .modal-header {
    border-bottom: 2px solid $paideia-orange;
  }
}
