@import "colors";

#filterrific_with_query {
  position: absolute;
  width: 350px;
  left: calc(50% - 175px);
  &:focus {
    border-color: $paideia-orange;
    box-shadow:inset 0 0 1px 1px $paideia-orange;
    background: #fff;
  }
}

#advancedModal {
  .modal-content {
    border-radius: 0px;
  }
  .modal-header {
    border-bottom: 2px solid $paideia-orange;
  }
}

#applyFilters {
  margin: auto;
}
