<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Website copyright <%= Date.today.year %> <a href="http://www.paideiainstitute.org/" target="_blank">The Paideia Institute</a> | Articles shared under <a href="https://www.copyright.gov/fair-use/more-info.html" target="_blank">Fair Use</a> | <a href="https://www.facebook.com/PublicClassics/" target="_blank"><i class="fa fa-facebook-square"></i></a>
      &nbsp
      <a href="https://twitter.com/PublicClassics" target="_blank"><i class="fa fa-twitter-square"></i></a>
    </span>
  </div>
</footer>
