<footer class="footer">
  <div class="container">
    <span class="text-muted">
      Website copyright <%= Date.today.year %> <a href="http://www.paideiainstitute.org/" target="_blank">The Paideia Institute</a> | Articles shared under <a href="https://www.copyright.gov/fair-use/more-info.html" target="_blank">Fair Use</a>
    </span>
  </div>
</footer>
