<div class="navbar-nav">
  <a class="nav-item nav-link" id="about" href="/about">
    About
    <i class="fa fa-info" aria-hidden="true"></i>
  </a>
  <% unless current_page? root_path %>
    <a class="nav-item nav-link" href="http://104.130.11.126:8080/servicedesk/customer/portal/1" id="development" target="_blank" >
      Development
      <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
  <% end %>
  <% if current_page? articles_manage_path %>
    <a class="nav-item nav-link" href="/signout" id="sign_out">
      Sign Out
      <i class="fa fa-sign-out" aria-hidden="true"></i>
    </a>
  <% else %>
    <% if current_user && current_user.admin? %>
      <a class="nav-item nav-link" href="/articles/manage" id="manage">
        Manage Articles
        <i class="fa fa-list-alt" aria-hidden="true"></i>
      </a>
    <% elsif current_user %>
      <a href="/articles/manage" id="sign_in" class="nav-link nav-item">
        Contribute
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
    <% else %>
      <a href="/auth/google_oauth2" id="sign_in" class="nav-link nav-item">
        Contribute
        <i class="fa fa-google" aria-hidden="true"></i>
      </a>
  <% end %>
  <% end %>
</ul>
