<div id="allTerms" data-allterms="<%= Article.terms.join(',') %>"></div>
<div class="form-group">
  <input class="form-control form-control-lg" placeholder="Search" type="text" name="filterrific[with_query]" id="filterrific_with_query">
  <!-- <small id="advanced" class="form-text text-muted" data-toggle="modal" data-target="#advancedModal">
    Advanced <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </small> -->
</div>


<script>
$(function() {
  var focused = false;
  var terms = $('#allTerms').data('allterms').split(',')

  $('#filterrific_with_query')
  .autocomplete({
    source: terms,
    minLength: 0,
    close: function(e, ui) {
      $(this).blur()
    }
  })
})
</script>
