<div class="form-inline">
  <%= render 'layouts/search_box' %>
  <!-- RESET FILTERS -->
  <a id="reset" title="reset filters" href="/articles?filterrific%5Breset_filterrific%5D=true">
    <i class="material-icons md-24">refresh</i>
  </a>
</div>
