<div id="allTerms" data-allterms="<%= APPROVED_TAGS %>"></div>
<div class="form-group">
  <input class="form-control form-control-lg" placeholder="Search" type="text" name="filterrific[with_query]" id="filterrific_with_query">
</div>

<script>
$(function() {
  var focused = false;
  var terms = $('#allTerms').data('allterms').split(',')

  $('#filterrific_with_query')
  .autocomplete({
    source: terms,
    minLength: 0,
    close: function(e, ui) {
      $(this).blur()
    }
  })
})
</script>
