<style>
  body {
    padding: 20px;
    text-align: center;
    font-family: monospace;
    background: rgb(210,126,48);
    background: -webkit-linear-gradient(rgba(210,126,48,0.4), rgb(210,126,48));
    background: -o-linear-gradient(rgba(210,126,48,0.4), rgb(210,126,48));
    background: -moz-linear-gradient(rgba(210,126,48,0.4), rgb(210,126,48));
    background: linear-gradient(rgba(210,126,48,0.4), rgb(210,126,48));
  }
  .error {
    max-width: 576px;
    display: inline-block;
    background: white;
    padding: 20px;
    border: 10px solid rgb(210,126,48);
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  a {
    color: #407aa0;
    text-decoration: none;
  }
  #uhOhOwl {
    -webkit-animation: rotation 2s infinite linear;
    max-width: 200px;
  }
  @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
  }
</style>
<img src="<%= asset_path 'square_owl' %>" id="uhOhOwl"/>
<br />
<br />
<div class="error">
  <h1>
    ಠ_ಠ
    <br />
    THAT'S AN ERROR
  </h1>
  <h2>
    Please be kind and <a href="mailto:delgardo@paideia-institute.org?Subject=Error" target="_top">email Kamille</a> with the link that broke our fair site.
  </h2>
  <br />
  <br />
  <br />
  <br />
  <h3>
    ~gratias tibi~
  </h3>
</div>
